/* basic tag settings */
body {
    display: flex;
    justify-content: center;
    background-color: skyblue;
}

main {
    width: 100%;
    max-width: 1000px;
    padding: 4em 5em;
    margin: 3em 5em;
    background-color: lightblue;
    border-radius: 50px;
    color: rgb(64, 64, 64);
    opacity: 0.9;
}

/* Text Styles */
h2 {
    font-size: 3em;
    text-align: center;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
}

/* Status bar */

.status {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 2em 0;
}

.status h3 {
    margin-right: 2em;
}

.status-box {
    font-size: 1.5em;
}

.init-button {
    padding: 1em 1.5em;
    background-color: mediumblue;
    color: white;
    border-radius: 30px;
    opacity: 0.85;
}

/* Grid Square Container */

#seq-cont {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(2, 1fr);
    gap: 2em;
    padding: 2em 3em;
    background-color: lightgrey;
    opacity: 0.9;
    border-radius: 50px;
}

.square {
    max-width: 200px;
    border-radius: 30px;
    opacity: 0.5;
}

.square:hover {
    opacity: 0.7;
}

.square:active {
    opacity: 1;
}

#squI {
    grid-area: 1 / 1 / span 1 / span 1;
    background-color: red;
}

#squII {
    grid-area: 1 / 2 / span 1 / span 1;
    background-color: yellow;
}

#squIII {
    grid-area: 2 / 1 / span 1 / span 1;
    background-color: orange;
}

#squIV {
    grid-area: 2 / 2 / span 1 / span 1;
    background-color: purple;
}

#squV {
    grid-area: 3 / 1 / span 1 / span 1;
    background-color: blue;
}

#squVI {
    grid-area: 3 / 2 / span 1 / span 1;
    background-color: green;
}



/* Results */

#results {
    display: none;
}